# Node
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.angular

# Visual Studio Code
/frontend/.vscode/*

# System files
/frontend/.DS_Store

/backend/.idea
/backend/venv