.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
}

.header {
    background-color: #3F51B5;
}

.header .title-group {
    padding-left: 15px;
}

.header .title-group i {
    padding-right: 5px;
}

.logo {
    display: flex;
    margin-right: 100px;
    margin-left: 30px;
}